.main{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.data{
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    width: 100%;
   
    
}
.showData{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: space-between;
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
}
